DOCTYPE html
html
  head
    title Cheer up
  body


    .container
      img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/221808/sky.jpg").background
      p.message all your dreams can come true<br>if you have the courage to pursue them
        - for (i = 1; i <= 100; i++)
          .circle-container
          .circle


<!--  
    <div class="center">
        <h1>
            Believe in yourself
        </h1>
        <p>
            (No, seriously, you can do it)
        </p>
    </div>
--> 

<!-- to pug -->

<!--

.center
  h1
    | Believe in yourself
  p
    | (No, seriously, you can do it)

-->
